VERTX_VERSION="1.3.1.final"
JRUBY_VERSION="1.7.2"

PATH="${OPENSHIFT_DATA_DIR}vert.x-${VERTX_VERSION}/bin:$PATH"

export JRUBY_HOME=${OPENSHIFT_DATA_DIR}jruby-${JRUBY_VERSION}

SERVER_FILE="app.js"
EXAMPLE_DIR="js_example"
